#hover-red {
  background-color: rgba(255, 0, 0, 0.5);
}

#hover-blue {
  background-color: rgba(0, 0, 255, 0.5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0 auto;
  width: 500px;
}

.cell {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.red {
  background-color: #ff0000;
}

.blue {
  background-color: #0000ff;
}
