.start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7a4848;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(72, 8, 8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(249, 121, 121);
  padding: 40px;
}

.start-screen h1 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 10px;
}

.start-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

.start-screen.button {
  color: #ff2f2f;
  background-color: #c02626;
  border: 1px solid #ff2f2f;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 1px 1px #ff2f2f, 2px 2px #ff2f2f, 3px 3px #ff2f2f;
  transform: translateX(-3px);
}

#hover-red {
  background-color: rgba(225, 1, 1, 0.5);
}

#hover-blue {
  background-color: rgba(1, 1, 255, 0.5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  background-color: darkgrey;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px cyan;
}

.cell {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.red {
  background-color: #ff0000;
}

.blue {
  background-color: #0000ff;
}

.winner-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.8);
  font-size: 90px;
  padding: 20px;
  height: 40%;
  width: 40%;
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  box-shadow: 0 0 10px white;
}

.hidden {
  display: none;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    padding: 10px;
  }

  .cell {
    width: 45px;
    height: 45px;
  }

  #hover-red, #hover-blue {
    background-color: #ffffff;
  }

  .winner-message{
    font-size: 50px;
    height: 40%;
    width: 60%;
  }
}